@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 210 40% 15%;
    --card: 0 0% 98%;
    --card-foreground: 210 40% 15%;
    --popover: 0 0% 98%;
    --popover-foreground: 210 40% 15%;
    --primary: 278 12% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 278 12% 92%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 40% 92%;
    --muted-foreground: 210 30% 50%;
    --accent: 278 12% 72%; 
    --accent-foreground: 210 40% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 40% 90%;
    --input: 210 40% 90%;
    --ring: 278 12% 52%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
